.makepay{position: fixed; width:100%; padding: 16px 0;height: 88px; z-index: 9; bottom: 0; background: #FFFFFF;
    box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);border-radius: 16px 16px 0px 0px;
    left: 0;
}

.whiteCircle_m {
    background-image: url(https://img.gaadicdn.com/pwa/img/loading-white.svg)!important;
    vertical-align: middle;
    background-repeat: no-repeat!important;
    background-position: 100%!important;
    content: "";
}
button i.whiteCircle_m, i.whiteCircle_m {
    position: absolute;
    z-index: 999999;
    width: 36px;top: -10px;left: 50%;
    height: 48px}
